<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLh60rM774ZI9O5HIJhXuOm8rkcKuTKuo</string>
	<key>GCM_SENDER_ID</key>
	<string>319429184438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanpurax.tanpura</string>
	<key>PROJECT_ID</key>
	<string>tanpurax</string>
	<key>STORAGE_BUCKET</key>
	<string>tanpurax.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319429184438:ios:232f1a56f0b1518fafcf17</string>
</dict>
</plist>